body {
  background: radial-gradient(
    ellipse,
    rgb(29, 32, 38) 0%,
    rgba(26, 29, 35, 1) 100%
  );
  color: white;
}

/* Customize focus ring color for all form controls */
.form-control:focus,
.form-select:focus,
button:focus {
  box-shadow: 0 0 0 0.25rem rgba(165, 127, 229, 0.25) !important; /* change color here */
  border-color: #ffffff !important; /* optional: change border too */
}

/* If you want to reset outline as well */
.form-control:focus,
.form-select:focus,
button:focus {
  outline: none !important;
}
