body {
  background: radial-gradient(
    ellipse,
    rgb(29, 32, 38) 0%,
    rgba(26, 29, 35, 1) 100%
  );
  color: white;
}

/* Customize focus ring color for all form controls */
.form-control:focus,
.form-select:focus,
button:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0) !important;
  border-color: #ffffff !important;
}

/* If you want to reset outline as well */
.form-control:focus,
.form-select:focus,
button:focus {
  outline: none !important;
}

input[type="date"] {
  color-scheme: dark;
}
